<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-logo">
      <img src="logow.png" alt="HRBotanik Logo" />
    </div>
    <div class="footer-column">
      <h4>Компания</h4>
      <p>ИНН: 434540279107</p>
      <p>Адрес: Г.САНКТ-ПЕТЕРБУРГ, ВН.ТЕР.Г. ПОСЕЛОК ШУШАРЫ</p>
    </div>
    <div class="footer-column">
      <h4>Контакты</h4>
      <p>Тел.: +7 (999) 467-53-62</p>
      <p>E-mail: dreamteam@hrbotanik.ru</p>
    </div>
    <div class="footer-column">
      <h4>Документы</h4>
      <a href="data/privacy.html">Политика конфиденциальности</a>
      <a href="data/agreement.html">Пользовательское соглашение</a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© HRBotanik, 2025</p>
  </div>
</footer>
